@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.header {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center center;
  padding: 35px 0;
  position: relative;
  z-index: 0;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.45;
  z-index: -1;
}
.trends {
  width: 100%;
  display: flex;

}

  .trends_post {
    width: calc(25% - 4px);
    display: flex;
    align-items: flex-end;
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    position: relative;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 24px;
    padding-top: 159px;
  }
  .trends_post:nth-child(1n+2) {
    margin-left: 4px;
  }

.title-trends,
.our_goods_title,
.popup_title {
  color: #0f0d0e;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative;
  margin-top: 60px;
  margin-bottom: 46px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title-trends::before,
.our_goods_title::before,
.popup_title::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.trends_post_text {
  border: 3px solid #b59f5b;
  padding-left: 35px;
  padding-bottom: 38px;
  padding-top: 65px;
}


.backimage_2 {
  background-image: url(../images/trend2.jpg);
  }
.backimage_3 {
  background-image: url(../images/trend3.jpg);
}
.backimage_4 {
  background-image: url(../images/trend4.jpg);
}
.trends_post_text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}


header .color_white {
  color: #ffffff;
}

.container_header {
  width: 100%;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logo-image {
  width: 180px;
}

.blog-title {
  color: #ffffff;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 45px;
  line-height: 1.7;
  text-transform: uppercase;
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.menu_button {
width: 23px;
height: 20px;
border: none;
padding: 0;
background-color: transparent;
font-size: 25px;
position: relative;
text-indent: -9999px;
cursor: pointer;
}
.menu_button::after {
  bottom: o;
}
.menu_button::before {
  top: 0;
}
.menu_button::after, .menu_button::before {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}
.menu_button-label {
  width: 100%;
    height: 20%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-link {
  text-decoration: none;
  font-family: OpenSans-Regular, Aria, sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 30px;
}

.container_main_aside {
  max-width: 1200px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-top: 63px;
}

.post {
  width: 100%;
  display: flex;
}

.post:nth-child(n+2) {
  margin-top: 60px;
}

.post_img {
  max-width: 381px;
  height: 297px;
  object-fit: cover;
}

.post_text {
  max-width: 367px;
  margin-left: 30px;
}

.post_list,
.trends_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.post_list_link,
.trends_list_link {
  color: #b59f5b;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  line-height: 2.9;
}

.post_list_link:hover,
.trends_list_link:hover {
  text-decoration: underline;
}

.post_name,
.trends_post_title,
.good_title {
  color: #0f0d0e;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: none;
}

.post_name:hover,
.trends_post_title:hover {
  color: #b59f5b;
}
.post_text_header {
  margin-top: 15px;
}

.post_time {
  color: #888888;
  font-family: OpenSans-Regular, Aria, sans-serif;
  font-size: 12px;
  margin-right: 15px;
}

.author {
  color: #000000;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 12px;
}

.post_desk {
  color: #0f0d0e;
  font-family: OpenSans-Regular, Aria, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 40px;
}

.aside {
  width: 287px;
  padding-right: 15px;
}

.new_posts {
  color: #0f0d0e;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.mailing_title, .tag_title, .themes_title {
  color: #0f0d0e;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative;
  margin-top: 60px;
  margin-bottom: 40px;
}

.new_posts::before, .mailing_title::before, .tag_title::before, .themes_title::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.post_aside {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post_image_aside_container {
  width: 71px;
}

.post_img_aside {
  width: 70px;
}

.post_text_aside {
  width: 185px;
}

.post_name_aside {
  color: #0f0d0e;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.29;
  text-decoration: none;
}

.post_name_aside:hover {
  color: #b59f5b;
}

.post_aside:nth-child(n+2) {
  margin-top: 20px;
}

.search {
  margin-top: 54px;
  display: flex;
}

.search_field {
  box-sizing: border-box;
  width: 224px;
  padding: 17px 21px;
  margin: 0;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-color: #f4f7f6;
  border: none;
}

.search_field:focus {
  outline: none;
  border-color: #b59f5b;
}

.button_search {
  background-image: url(../swg/search.svg);
  background-color: #b59f5b;
  background-size: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 0;
  border: none;
}

.mailing_field {
  width: 272px;
  background-color: #f4f7f6;
  height: 48px;
  padding: 17px 21px;
  border: none;
}

.button_mailing {
  padding: 18px 84px;
  margin-top: 18px;
  border: none;
  background-color: #b59f5b;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: OpenSans-Bold, Aria, sans-serif;
}

.button_mailing:hover {
  background-color: #323232;
}

.tag_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.tag_link {
  text-decoration: none;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border: 3px solid #f4f3f1;
  color: #0f0d0e;
  display: block;
  margin-right: 5px;
  margin-top: 6px;
  padding: 5px 10px;
}

.themes_list {
  list-style: none;
}

.themes_link {
  text-decoration: none;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 14px;
  line-height: 3.3;
  color: #0f0d0e;
}

.number {
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 12px;
  color: #b59f5b;
  position: relative;
  left: 2px;
  top: -2px;
}

.themes_link:hover {
  color: #b59f5b;
}
.our_goods {
  max-width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  }
  .good {
  width: 33.3%;
  flex-grow: 1;
  }
.good_image {
max-width: 300px;
max-height: 200px;
object-fit: cover;
}

.good_content {
  max-width: 300px;
  outline: 3px solid #b59f5b;
  outline-offset: 15px;
  margin-top: -25px;
  padding-top: 35px;
  height: 250px;

}
.good_link {
  color: #b59f5b;
  font-family: OpenSans-Regular, Aria, sans-serif;
  font-size: 14px;
  text-decoration: none;
  }
  .good_descrition {
    color: #0f0d0e;
    font-family: OpenSans-Regular, Aria, sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }
.good_footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  }
.good_old_price {
  font-family: OpenSans-Bold, Aria, sans-serif;
  display: block;
  text-decoration: line-through;
  font-size: 12px;
}
.good_price {
  font-family: OpenSans-Bold, Aria, sans-serif;
  display: block;
  font-size: 16px;
}
.good_button {
  padding: 12px 25px;
  margin-top: 18px;
  border: none;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: OpenSans-Bold, Aria, sans-serif;
  }


.footer {
  margin-top: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer_list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
  padding-top: 31px;
  padding-bottom: 31px;
}

.social-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 28px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon__twitter {
  background-image: url(../swg/004-twitter.svg);
}

.social-icon__pinterest {
  background-image: url(../swg/001-pinterest.svg);
}

.social-icon__facebook {
  background-image: url(../swg/002-facebook-logo.svg);
  background-position: center;
}

.social-icon__instagram {
  background-image: url(../swg/005-instagram.svg);
}

.social-icon__tumblr {
  background-image: url(../swg/003-tumblr.svg);
}

.footer_container {
  margin-top: 74px;
  text-align: center;
}

.footer_text {
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 12px;
  line-height: 3.3;
  color: #999999;
  text-decoration: none;
}
.popup {
    width: 100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: none;
}
.popup_conteiner {
  position: relative;
  max-width: 380px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.popup_content {

}
.margin_popup {
  margin-top: 30px;
}

.form_group {
  font-family: OpenSans-Regular, Aria, sans-serif;
  font-size: 13px;
  display: block;
}
.select {
  display: inline-block;
  width: 100%;
  height: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../swg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px;

  padding-left: 10px;
  padding-right: 25px;

  margin: 0;

  border: none;
  background-color: #f4f7f6;

  font-size: 10px;
  font-family: OpenSans-Regular, Aria, sans-serif;
  color: #333333;
}
.radio_text {
  display: block;
}
.radio_group_text::before {
  content: "";
  background-image: url(../swg/form-empty-circle.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: center center;
  background-size: 15px;
  vertical-align: middle;
  margin-right: 3px;
}
.radio_no {
  margin-left: 15px;
}

.radio:checked + .radio_group_text::before {
  background-image: url(../swg/form-circle.svg);
}
.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
.field-label {
  display: block;
  margin-top: 35px;
  margin-bottom: 10px;
}

.field_textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 134px;
  max-height: 350px;
  background-color: #f4f7f6;
  padding: 15px;
  border: none;
}
.button_send {
  background-color: #b59f5b;
  padding: 10px 10px;
  width: 100%;
  color: #ffffff;
  font-family: OpenSans-Bold, Aria, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
  border: none;

}
 .popup_close {
   width: 17px;
   height: 17px;
   background-image: url(../swg/form-x.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 17px;
   right: 0;
   top: -20px;
   position: absolute;
   border: none;
   background-color: rgba(0,0,0,0);

 }
 @media (min-width: 1200px) {
   .menu_button {
     display: none;
   }
 }
 @media (max-width: 1200px) and (min-width: 641px) {
   .menu-list {
     display: none;
   }
   .post {
     display: block;
   }
   .post_name {
     margin-bottom: 40px;
   }
   .post_img {

   }
   .post_text_header {
     margin-top: 40px;
   }
   .good {
     width: 50%;
     flex-wrap: wrap;
   }
   .aside {
    width: 320px;
    flex-shrink: 0;
    margin-right: 40px;
  }
  .main {
    flex-grow: 1;
    margin-right: 130px;
  }
